{% extends "base.html" %}

{% block title %}User Page{% endblock title %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>User Page</h1>>
    <form action="#" method="POST">
        <input type="email" name="email" placeholder="Enter Email" value="{{email if email}}"/>
        <input type="submit" value="Submit"/>
    </form>>
{% endblock content %}